---
layout: Projects protected secured page done by html with researchsio
title: Portal | Projects
description: 'Projects'
nav-menu: false
show_tile: false
---
    
  <!-- Content -->
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <title> Family</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-softy-pinko.css">
    
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                       <!-- ***** Logo Start ***** -->
                        <a href="https://researchsio.com//" class="logo">
                            <img src="assets/icons/logo 2.png" alt="Researchsio"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="https://researchsio.com/What%20we%20do%201.html">| What We Do |</a></li>
                            <li><a href="https://researchsio.com/family.html">| Researchsio Family |</a></li>
                            <li><a href="https://researchsio.com//Notice%20Board.html">| Notice |</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>Discuss and Note Down of Your Progress</h1>
                        <p>This Portal System allows you to note down of every step of your progress. If you are going through a project with us then you 
			    have to note down your every step, progress or any important discussion so that  your superviser and your team mate can be aware of the current status of your 
			    projects. </p>
                     
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

   

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="left-heading">
                        <h2 class="section-title">Let’s Select Your Project: </h2><br>
		<p> [You can edit or comment on your assigned projects only, system will not allow you to comment on other's project.]</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                

                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                 <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/icons/project 5.png" alt=""></i>
                                </div>
                                <h5 class="features-title"> Project on Antibiotic</h5>
                                <p align="left">&#8226;Project Type: Publication prep. <br>&#8226;Proposer: Abdur Rahman Himel</p>
                         <br><h5 class="features-title"> <a href="P Antibiotic.html"> >>Go To Timeline</a></h5>   
			 </div>
                        </div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/icons/project 5.png" alt=""></i>
                                </div>
                                <h5 class="features-title"> Project on Neurology</h5>
                                <p align="left">&#8226;Project Type: Data collection <br>&#8226;Proposer: Md. Salman Faisal</p>
				   <br><h5 class="features-title"> <a href="P Neurology.html"> >>Go To Timeline</a></h5> 
                            </div>
                        </div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/icons/project 5.png" alt=""></i>
                                </div>
                                <h5 class="features-title"> Project on Phytochemical</h5>
                               <p align="left">&#8226;Project Type: Publication prep. <br>&#8226;Proposer: Md. Salman Faisal</p>
                            <br><h5 class="features-title"> <a href="P Phytochemical.html"> >>Go To Timeline</a></h5> 
				</div>
                        </div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/icons/project 5.png" alt=""></i>
                                </div>
                                <h5 class="features-title"> Project on Genomics Medicine</h5>
                                <p align="left">&#8226;Project Type: Data collection <br>&#8226;Proposer:Md Roman Sarkar</p>
                           <br><h5 class="features-title"> <a href="P Genomics Medicine.html"> >>Go To Timeline</a></h5> 
				</div>
                        </div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/icons/project 5.png" alt=""></i>
                                </div>
                                <h5 class="features-title"> Project on Stem Cell</h5>
                                <p align="left">&#8226;Project Type: Publication Prep. <br>&#8226;Proposer:Md. Kamal Hossain</p>
                            <br><h5 class="features-title"> <a href="##"> >>Go To Timeline</a></h5> 
				</div>
                        </div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/icons/project 5.png" alt=""></i>
                                </div>
                                <h5 class="features-title"> Project on Nephrology</h5>
                                <p align="left">&#8226;Project Type: Publication prep. <br>&#8226;Proposer:Redwan Mahmud</p>
                           <br><h5 class="features-title"> <a href="P Nephrology.html"> >>Go To Timeline</a></h5> 
				</div>
                        </div>
			</div>
			</div>
		       
		       
		       
		       
		       
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

  

    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>06</strong>
                            <span>Total Projects</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>06</strong>
                            <span>Ongoing Projects</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>00</strong>
                            <span>Completed Projects</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>00</strong>
                            <span>Published</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->   

    
    
    <!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li><font color="black">&copy; {{ site.title }} {{ site.subtitle }} 2020</font></li>
			
				<li><font color="black">Developed & maintained by:</font> <a href="http://facebook.com/mahmud128" target="_blank"><font color="white"> Hamidur Rahman MahmuD</font></a></li>
				

			</ul>
		</div>
	</footer>
    
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

  </body>
</html>
